.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 0 0 1rem;
    line-height: 1.15;
    font-size: 3.6rem;
    margin-bottom: 5rem;
}
  
.title {
    text-align: center;
}

.loginForm{
    background-color:  white;
    padding: 4.5rem;
    border-radius: 10%;
    box-shadow: 0.25rem 0.25rem 1rem;
  
    font-family: Verdana, sans-serif;
    color: #3d403e;
    text-align: center;
    font-size: 1.4rem;
  }

  .form{
    width: 20rem;
    height: 2.5rem;
    margin-top: 0.6rem;
    margin-bottom: 1.5rem;
  
    font-size: 1.5rem;
  }
  
  .submitLogin{
    width: 10rem;
    height: 3rem;
    border-radius: 30px;
    margin-right: 1rem;
  
    font-family: Verdana, sans-serif;
    font-size: 1.2rem;
  
    border: none;
  
    color: rgb(48, 51, 50);
    background-color: #74fc6f;
  }

.Back{
    width: 10rem;
    height: 3rem;
    border-radius: 30px;

    text-decoration: none;

    padding: 0.8rem 3rem;
  
    font-family: Verdana, sans-serif;
    font-size: 1.2rem;
  
    border: none;

    

    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.inline{
    display: inline-block;
}

.Back{
  width: 10rem;
  height: 3rem;
  border-radius: 30px;

  text-decoration: none;

  padding: 0.8rem 3rem;

  font-family: Verdana, sans-serif;
  font-size: 1.2rem;

  border: none;

  

  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.submitLogin{
  width: 10rem;
  height: 3rem;
  border-radius: 30px;
  margin-right: 1rem;

  font-family: Verdana, sans-serif;
  font-size: 1.2rem;

  border: none;

  color: rgb(48, 51, 50);
  background-color: #74fc6f;
}